::-webkit-scrollbar {
  right: 0;
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--mantine-color-gray-6);
  border-radius: 4px;
  width: 8px;
  height: 8px;
}

.tabler-icon {
  color: var(--icon-color-default);
}
button:not(:hover) .tabler-icon {
  color: var(--button-color, --icon-color-default);
}
button.mantine-ActionIcon-root:not(:hover) .tabler-icon {
  color: var(--ai-color, --icon-color-default);
}

body {
  background-color: var(--mantine-primary-color-6) !important;
  background-image: url('./LOGO/WOWO-WIWI-ICON-TRANSPARANT.png'), url('./LOGO/WOWO-WIWI-ICON-TRANSPARANT.png') !important;
  background-position-x: calc(50% - 50vw), calc(50% + 50vw) !important;
  background-position-y: center !important;
  background-size: 30vw auto !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
  @media (min-width: 768px) {
    background-size: auto 50vh !important;
  }
}